.sel_comp{
    background-color: lightsteelblue;
    height: 200px;
    width: 300px;
    position:relative;
    top :50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
}
.sel_input{
    border: 1px solid #555555;
    width: 70%;
    position: absolute;
    top: 20px;
    left: 50px;
    height: 28px;
    line-height: 28px;
}
.sel_ul{
    position: absolute;
    top: 48px;
    left: 50px;
}